{% extends 'master/master_dashboard.html' %}
{% load static %}
{% block title %} Dashboard | College Management System {% endblock %}
{% block body %}
	<!--navbar-->

	{% include 'includes/dashboard_sidebar.html' %}
	<!--end navbar -->
	<!--model-->
		<div class="modal fade" id="logout">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Want to leave?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						Are you sure you want to leave?

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Return</button>
						<a class="btn btn-danger" href = "{% url 'logout' %}">Logout</a>
					</div>
				</div>
			</div>
		</div>

	<!--endmodel-->
	<!--cardssection-->
	<section>
		<div class="container-fluid">
			<div class="row">


				<div class="col-lg-10 ml-auto mt-2">
					<div class="row pt-5 mt-3 mb-5">
						 <div class="col-xl-12 col-sm-6 p-2">
							<main role="main" class="container bootdey.com">
								<div class="my-3 p-3 bg-white rounded box-shadow pb-5">
									<table style="  border-collapse: collapse; width: 100%; margin-top:15px;">
											<tr>
												<th style="text-align:center"><h1>ID</h1></th>
												<th style="text-align:center"><h1>FACULTY</h1></th>
												<th style="text-align:center"><h1>ACTION</h1></th>
											</tr>
											{% for f in faculty %}
												<tr>
													<td style="border: 2px solid #dddddd; text-align: center; padding: 8px;">
										
															<h4>{{f.id}}</h4>
											
													</td>
													<td style="border: 2px solid #dddddd; text-align: center; padding: 8px;">
											
															<h4><a style="text-decoration: none;" href="{% url 'faculty_detail' f.id %}"> {{f}}</a></h4>
													
													</td>

													<td style="border: 2px solid #dddddd; text-align: center; padding: 8px;">
												
															
																<a href="{% url 'edit_individual_faculty' f.id %}"><button type="submit"  class="btn btn-info"  name ='edit'> Edit</button></a>
				
																<!--model-->
															<div class="modal fade" id="{{f.id}}">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h4 class="modal-title">Want to delete?</h4>
																			<button type="button" class="close" data-dismiss="modal">&times;</button>
																		</div>
																		<div class="modal-body">
																				<h6>Are you sure you want to remove {{f}}?</h6>

																		</div>
																		<div class="modal-footer">
																			<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
																			<a class="btn btn-danger" href = "{% url 'delete_faculty' f.id %}">Yes</a>
																		
																		
																		</div>
																	</div>
																</div>
															</div>

														<!--endmodel-->
														
														
														<a href=""  data-toggle="modal" data-target="#{{f.id}}"><button class="btn btn-danger">Remove</button></a>

															
													</td>


												</tr>

											{% endfor %}
									</table>
							 		<button type="submit"  class="btn btn-dark mt-1" style="float:right;"><a class="btm btn-dark" href="{% url 'edit_faculty_form' %}" style="text-decoration: None;"> Add Faculty</a></button>
						 		</div>
							</main>
						 </div>
					</div>
				</div>


			<div class="col-lg-10 ml-auto mt-2"> 
					<div class="row pt-5 mt-3 mb-5">
						 <div class="col-xl-12 col-sm-6 p-2">
							<main role="main" class="container bootdey.com">
								<div class="my-3 p-3 bg-white rounded box-shadow pb-5">
	
							<table style="  border-collapse: collapse; width: 100%; margin-top:15px;">
								 <tr>
									 <th style="text-align:center"><h1>ID</h1></th>
									 <th style="text-align:center"><h1>GROUP</h1></th>
									 <th style="text-align:center"><h1>ACTION</h1></th>
								 </tr>
								 	{% for g in group %}
										<tr>
											<td style="border: 2px solid #dddddd; text-align: center; padding: 8px;">
								
													<h4>{{g.id}}</h4>
									
											</td>
											<td style="border: 2px solid #dddddd; text-align: center; padding: 8px;">
									
													<h4><a style="text-decoration: none;" href=""> {{g}}</a></h4>
											
											</td>

											<td style="border: 2px solid #dddddd; text-align: center; padding: 8px;">
										
													
														
														<a href="{% url 'edit_individual_group' g.id %}"><button type="submit"  class="btn btn-info"  name ='edit'> Edit</button></a>

														<!--model-->
													<div class="modal fade" id="{{g.id}}">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h4 class="modal-title">Want to delete?</h4>
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																</div>
																<div class="modal-body">
																		<h6>Are you sure you want to remove group {{g}}?</h6>

																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
																	<a class="btn btn-danger" href = "{% url 'delete_group' g.id %}">Yes</a>
																
																</div>
															</div>
														</div>
													</div>

												<!--endmodel-->
												
												
												<a href=""  data-toggle="modal" data-target="#{{g.id}}"><button class="btn btn-danger">Remove</button></a>

													
											</td>


										</tr>

									{% endfor %}
							</table>
							 <button type="submit"  class="btn btn-dark mt-1" style="float:right;"><a class="btm btn-dark" href="{% url 'edit_group_form' %}" style="text-decoration: None;"> Add Group</a></button>
						 	</div>
					</main>
						 
						 </div>
					</div>
				</div>


			<div>

		</div>
	</section>
		
						

{% endblock %}

