{% extends 'master/master_dashboard.html' %}
{% load static %}
{% block title %} Dashboard | College Management System {% endblock %}
{% block body %}
	<!--navbar-->

	{% include 'includes/dashboard_sidebar.html' %}
	<!--end navbar -->
	<!--model-->
		<div class="modal fade" id="logout">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Want to leave?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						Are you sure you want to leave?

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Return</button>
						<a class="btn btn-danger" href = "{% url 'logout' %}">Logout</a>
					</div>
				</div>
			</div>
		</div>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-10 ml-auto mt-2">
				<div class="row pt-5 mt-3 mb-5">
					<div class="col-xl-12 col-sm-6 p-2">
						<main role="main" class="container bootdey.com">
							<div class="my-3 p-3 bg-white rounded box-shadow">
								<div class="clearfix">
  								<a class="btn btn-info left" href="{% url 'calendar' %}"> Calendar </a>
							</div>

							<form method="post">
  							{% csrf_token %}
  							<table class="form form-table">
    							{{ form }}
    							<tr><td colspan="2"><button type="submit" class="btn btn-info right"> Submit </button></td></tr>
  							</table>
							</form>

  							</div>
						</main>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}