{% extends 'master/student_master.html' %}
{% load static %}
{% block title %} Dashboard | College Management System {% endblock %}
{% block body %}



	<!--cardssection-->
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 mt-2" style="max-width: 100%;">
					
					<div class="row pt-5 mt-3 mb-5">

						<div class="col-xl-6 col-sm-5 p-2">
							<main role="main" class="container bootdey.com">
	
	
								<div class="my-3 p-3 bg-white rounded box-shadow">
									<h6 class="border-bottom border-gray pb-2 mb-0">Recent Notice</h6>
									{% for n in notices %}
									<div class="media text-muted pt-3">

									{% if n.notice_annoucer.imageURL %}

	  									<img src="{{ n.notice_annoucer.imageURL }}" alt="" class="mr-2 rounded" width="32" height="32">
	  									{% else %}
	  										<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
	  								{% endif %}
	  									<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
											<strong class="d-block text-gray-dark">@ {{n.notice_annoucer.full_name}}</strong>
											<strong class="d-block text-gray-dark" style="font-weight: 200;">{{n.notice_date}}</strong>
											<br>
											{{n.notice_description}}
									</div>
									{% endfor %}
									
								</div>
							</main>
						</div>
						<div class="col-xl-6 col-sm-5 p-2">
							<main role="main" class="container bootdey.com">
								<div class="my-3 p-3 bg-white rounded box-shadow">
									<h6 class="border-bottom border-gray pb-2 mb-0">Recent Announcements</h6>
									{% for a in announcements %}
									<div class="media text-muted pt-3">
										{% if a.notice_annoucer.imageURL %}

	  									<img src="{{ a.notice_annoucer.imageURL }}" alt="" class="mr-2 rounded" width="32" height="32">
	  									{% else %}
	  										<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
	  								{% endif %}
											<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
												<strong class="d-block text-gray-dark">@ {{a.notice_annoucer.full_name}}</strong>
												<strong class="d-block text-gray-dark" style="font-weight: 200;">{{n.notice_date}}</strong>
												<br>
												{{a.notice_description}}
									</div>
									{% endfor %}
									
								</div>
							</main>
						</div>
					</div>
				
				</div>
			
			</div>
		
		</div>
	</section>

{% endblock %}