{% extends 'master/master_dashboard.html' %}
{% load static %}
{% block title %} Dashboard | College Management System {% endblock %}
{% block body %}
	<!--navbar-->

	{% include 'includes/dashboard_sidebar.html' %}
	<!--end navbar -->
	<!--model-->
  <style>
  .text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-blue { background-color:#00b5ec; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  </style>

		<div class="modal fade" id="logout">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Want to leave?</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						Are you sure you want to leave?
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Return</button>
						<a class="btn btn-danger" href = "{% url 'logout' %}">Logout</a>
					</div>
				</div>
			</div>
		</div>

	<!--endmodel-->
	<!--cardssection-->
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-10 ml-auto mt-2">
					<div class="row pt-5 mt-3 mb-5">

            <div class="col-xl-12 col-sm-6 p-2">
						<main role="main" class="container bootdey.com">
 

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Add Notice</h6>
    <form method="POST">
		{% csrf_token %}
			<div class="form-group">
			  <label for="exampleFormControlInput1">Notice Title</label>
			  <input type="text" class="form-control" id="title" name='title'>
			</div>
			<div class="form-group">
				<label for="exampleFormControlInput1">Notice Description</label>
				<textarea class="form-control" id="description" name='description' rows="6"></textarea>
			</div>
			<div class="form-group">
			  <label for="exampleFormControlSelect1">Semester</label>
			  <select class="form-control" id="semester" name='semester'>
				{% for c in course %}
				<option>{{c.session_id}}</option>
				{% endfor %}

			  </select>
			</div>
		<small class="d-block text-right mt-3">
			<input type='submit' value='Inform' class="form-control" style="background-color: black; color:whitesmoke">
		  </small>
    </form>

  </div>
</main>
</div>

					</div>
				
				</div>
			

			</div>
		
		</div>


	</section>


	<!--endcardsection-->
{% endblock %}

{% block js %}
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity=sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/popper.min.js"></script>
	<script src="script.js"></script>
{% endblock js %}